
$include: (
  reset,
  scaffold,
  typography,
  schema,
  themes,
  container,
  grid,
  utilities,
) !default;

$options: (
  shadows:      true,
  border:       false,
  grid-classes: false,
) !default;

$addons: (
  shadows,
  brandcolors
) !default;
