// Base tones
$darkest-tone:  #131B26 !default;
$darker-tone:   #1F2938 !default;
$dark-tone:     #4D5766 !default;
$light-tone:    #C0C7D1 !default;
$lighter-tone:  #D5DBE3 !default;
$lightest-tone: #F0F3F7 !default;
