$color-variants: (
  primary,
  accent,

  success,
  warning,
  danger,
  notice,
);

$shade-variants: (
  solid:     1,
  dark:      "",
  light:     "",

  primary:   .85,
  secondary: .6,
  hint:      .3,
  icon:      .5,
  divider:   .1,
);

/*

$tones: (
  darkest:  "",
  darker:   "",
  dark:     "",
  light:    "",
  lighter:  "",
  lightest: "",
);

*/
