//
// Themes
//
// 1. Colors
// 2. Text themes
// 3. Text shades
// 4. Html classes
//

// For text themes
$text-themes: (
  dark:      color(text),
  light:     color(inversed),
) !default;

$text-shades: (
  primary:    1,
  secondary: .7,
  hint:      .3,
  icon:      .5,
  divider:   .1,
);

@function shade($name) {
  @return map-get($text-shades,$name);
}

@function text-theme($color-name, $shade-name:primary) {
  $color: map-get($colors, $color-name);

  @return rgba($color, shade($shade-name))
}

@mixin theme-classes($name) {
  $color: map-get($text-themes,$name);
  &                    { color: text-theme($name, primary); }
  .divider, hr         { color: text-theme($name, divider); }
  .hint, .disabled     { color: text-theme($name, hint); }
  .icon, i             { color: text-theme($name, icon); }
  .primary             { color: text-theme($name, primary); }
  .caption, .secondary { color: text-theme($name, secondary); }
  .solid               { color: $color; }
}



@include export-once("themes") {

  .light   { @include theme-classes(light); }
  .dark    { @include theme-classes(dark); }
  .accent  { @include theme-classes(accent); }

}





/*
$tones: (
  darkest:  "",
  darker:   "",
  dark:     "",
  light:    "",
  lighter:  "",
  lightest: "",
);
*/
