// Typography
$font-size-lg:   1.25rem !default;
$font-size-sm:   .875rem !default;
$font-size-xs:   .75rem !default;


$font-size:     14px       !default;
$font-family:   sans-serif !default;



// Grid

// $unit:    8px !default;
// $gutter:  $unit * 3 !default;
// $spacing: $unit * 2 !default;

$unit:          8px !default;
$columns:       12 !default;
$gutter:        $unit * 4 !default;





// Settings

$enable-flex: false;

